body{
    margin: 0;
    background-image: url(../images/image03.jpg);
    
}
/* header part */

    /* navigation bar */
.nav-container{
    background-color: rgba(30, 39, 46,1.0);
    height: 50px;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-around;
}
.nav-container ul li a{
    text-decoration: none;
    color: rgba(247, 241, 227,1.0);
    line-height: 50px;
    font-family: 'Sofia', cursive;
    font-size: 20px;
    padding-bottom: 7px;
}
.nav-container ul li a:hover{
    transition-delay: 350ms;
    border-bottom: 2px solid rgba(32, 191, 107,1.0);
    color: rgba(32, 191, 107,1.0);
}



    /* Title part */
.first-title{
    background-color: rgba(32, 191, 107,1.0);
    height: 100px;
}
h1{
    margin: 0;
    color: rgba(247, 241, 227,1.0);
    text-align: center;
    padding-top: 25px;
    font-family: 'Galada', cursive;
    font-size: 40px;
    text-decoration: underline;
}


/* Conference hall gallery photos */
.conference_hall_section{
    background-color: rgba(45, 52, 54,0.7);
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 22px;
    margin: 25px;
    margin-bottom: 0;
}

section div > img{
    width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 3;
}

section > p{
    color: white;
    font-size: 40px;
    font-family: 'Sofia', cursive;
    margin-top: 0;
    text-align: center;
    padding-top: 34px;
}

/* home page */

.home-page-article{
    color: white;
    background-color: rgba(45, 52, 54,0.7);
    margin-top: 3em;
    margin-left: 13em;
    margin-right: 13em;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 3;
}
.home-page-article > h2{
    font-family: 'Sofia', cursive;
    font-size: 29px;
    text-align: center;
}

/* about us section page */

.about-us-section{
    background-color: rgba(45, 52, 54,0.7);
    font-family: 'Open Sans', sans-serif;
    margin-top: 23px;
    margin-left: 2em;
    margin-right: 2em;
    padding: 23px;
    margin-bottom: 23px;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 3;
}

.Text-Section{
    color: white;
    font-size: 17px;
}
.about-us-section:first-child{
    text-decoration: underline;
}

/* form section */
section > h1{
    color: #130f40;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form-container {
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 3;      
    background-color: rgba(45, 52, 54,0.7);
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    margin: 26px;
    color: white;

  }


  /* guests section */

  .guests-container{
      display: grid;
      color: white;
      text-align: center;
      font-family: 'Kite One', sans-serif;
      background-color: rgba(45, 52, 54,0.7);
  }
  



  .guests-container div > img{
    width: 20%;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 3;      
    margin-bottom: 0;

  }
.guests-container div > p{
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 3;  
    background-color: black;
    margin-top:0;
    margin-left: 43px;
    margin-right: 43px;
}
